body{
    font-family: 'Open-sans', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    margin:0;
    padding: 0;
}

.container{
    margin: auto;
}

img{
    width: 100%;
}

.primary-text{
    color: #56a79a;
    font-size: 32px;
}

.primary-background{
    background: #56a79a;
}

#infoprincipal{
    background:url('../IMAGENES/fondobajo.jpg') center center;
    color: #fff;
    border-bottom: 1px #56a79a;
    margin-bottom: 30px;
}

#headerprincipal{
    border-bottom: 1px solid #56a79a;
}

#headerprincipal h1{
    font-size: 32;
}

#navbar{
    text-transform: uppercase;
}

#navbar li{
    display: inline;
    padding-right: 20px;
    list-style: none;
}

#navbar a{
    text-decoration: none;
    color: #888;
}

#navbar li.current a, #navbar a:hover{
    color: #56a79a;
    border-bottom: 3px solid #56a79a;
    padding-bottom: 3px;
}

#mostrador{
    background:url('../IMAGENES/fondoprincipal.png') center center;
    border-bottom: 1px #56a79a;
    margin-bottom: 30px;
}

#mostrador .row{
    height: 600px;
}

#mostrador h1{
    font-size: 32px;
    margin: 0;
    padding-bottom: 20px;
}

#mostrador p{
    color: #ccc;
    margin: 0;
}

#mostrador .showcase-content{
    background-color: #333;
    color: #fff;
    border-radius: 90px;
    padding: 40px;
    opacity: 0.9;
}

@media(max-width:800px){
    #mostrador h1{
        font-size: 30px;
    }
}

@media(max-width:500px){
    #mostrador .showcase-content{
        padding: 40px 10px;
    }
}

#seguido{
    background: url('../IMAGENES/fondoseguido.jpg');
    padding: 30px;
}

#buscarpedido{
    background: url('../IMAGENES/fondoseguido.jpg');
}

/* INFO */
#info{
    background: url('../IMAGENES/fondobajo.jpg');
    color: #fff;
}

#info h2{
    font-size: 35px;
    margin: 0;
    padding-bottom: 10px;
    color: whitesmoke;
}

#info ul{
    list-style: none;
    padding: 0;
}

#info li{
    line-height: 2em;
    font-size: 20px;
    color: #56a79a;
}

#infoBaja{
    background: #333;
    color: #fff;
    padding: 10px 0;
}

#infoBaja h4{
    text-transform: uppercase;
    margin-bottom: 0;
}

#infoBaja ul{
    padding: 0;
    list-style: none;
    line-height: 2em;
}

#infoBaja input[type="text"]{
    padding: 7px;
}

#infoBaja button{
    background: #222;
    color:fff;
    padding: 10px;
    border: 0;
}

#footerprincipal{
    background: #56a79a;
    color: #fff;
}

#buscarpedido .fa-solid{
    font-size: 200px;
    color:#56a79a;
    padding: 30px;
}

/*DISEÑO DE PAGINA PRINCIPAL BENEFICIOS*/

#Beneficios h2{
    font-size: 35px;
    margin-bottom: 10px;
}

#Beneficios p{
    color:#888;
    margin: 0;
    margin-bottom: 40px;
}

#Beneficios .fa-solid{
    font-size: 60px;
    color:#56a79a;
}

#Beneficios h2{
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: 1px solid #56a79a;
}

#Beneficios p{
    color:#888;
    margin: 0;
    margin-bottom: 40px;
}


/*DISEÑO DE PAGINA PRODUCTOS*/

#productos button{  /*DISEÑO DE BUTTON*/
    background: #222;
    color:fff;
    padding: 10px;
    border: 0;
}

#linea{
    background: #fff;
    color: #fff;
}



/*DISEÑO DE PAGINA SEGUIMIENTO*/

#buscarpedido h4{  /*DISEÑO DE H4*/
    font-size: 60px;
    color:#56a79a;
}

#buscarpedido p{  /*DISEÑO DE P*/
    font-size: 32px;
    color:#56a79a;
}

#buscarpedido button{  /*DISEÑO DE BUTTON*/
    background: #222;
    color:fff;
    padding: 10px;
    border: 0;
}

#buscarpedido input{  /*DISEÑO DE BARRA INPUT*/ 
    background: #fff;
    color: black;
    padding: 10px;
}


#fotos .container{
    margin: auto;
    width: 100%;
    max-width: 800px;
}

#fotos h1{
    border-bottom: 1px solid #56a79a;
}

#donar h4{  /*DISEÑO DE H4*/
    font-size: 32px;
    color:#56a79a;
}

#donar img{
    width: 50%;
}

#seguido iframe{
    padding-bottom: 20px;
    border-radius: 20px;
}

#seguido h4{  /*DISEÑO DE H4*/
    font-size: 32px;
    color:#56a79a;
}