body{
    font-family: 'Open-sans', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    margin:0;
    padding: 0;
}

.container{
    margin: auto;
}

.g-sign-in-button {
	margin: 10px;
	display: inline-block;
	width: 240px;
	height: 50px;
	background-color: #4285f4;
	color: #fff;
	border-radius: 1px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
	transition: background-color .218s, border-color .218s, box-shadow .218s;
}

.g-sign-in-button:hover {
	cursor: pointer;
	-webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
	box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}

.g-sign-in-button:active {
	background-color: #3367D6;
	transition: background-color 0.2s;
}

.g-sign-in-button .content-wrapper {
	height: 100%;
	width: 100%;
	border: 1px solid transparent;
}

.g-sign-in-button img {
	width: 18px;
	height: 18px;
}

.g-sign-in-button .logo-wrapper {
	padding: 15px;
	background: #fff;
	width: 48px;
	height: 100%;
	border-radius: 1px;
	display: inline-block;
	position: center;
}

.g-sign-in-button .text-container {
	font-family: Roboto,arial,sans-serif;
	font-weight: 500;
	letter-spacing: .21px;
	font-size: 16px;
	line-height: 48px;
	vertical-align: top;
	border: none;
	display: inline-block;
	text-align: center;
	width: 180px;
}


.container1{
    max-width: 900px;
	width: 90%;
	margin: auto;
	padding: 60px 50px;
	position: center;
}

.inicioseccion{
    display: inline;
    padding-right: 20px;
    list-style: none;
    margin-top: 10px;
	height: 60px;
	margin-right: 10px;
}

img{
    width: 100%;
}

.primary-text{
    color: #56a79a;
    font-size: 32px;
}

.primary-background{
    background: #56a79a;
}

#infoprincipal{
    background:url('../IMAGENES/fondobajo.jpg') center center;
    color: #fff;
    border-bottom: 1px #56a79a;
    margin-bottom: 30px;
}

#headerprincipal{
    border-bottom: 1px solid #56a79a;
}

#headerprincipal h1{
    font-size: 32;
}

#navbar{
    text-transform: uppercase;
}

#navbar li{
    display: inline;
    padding-right: 20px;
    list-style: none;
}

#navbar a{
    text-decoration: none;
    color: #888;
}

#navbar li.current a, #navbar a:hover{
    color: #56a79a;
    border-bottom: 3px solid #56a79a;
    padding-bottom: 3px;
}
#mostrador{
    background: url('web\static\web\img\fondoprincipal.png');
    border-bottom: 1px #56a79a;
    margin-bottom: 30px;
}

#mostrador .row{
    height: 600px;
}

#mostrador h1{
    font-size: 32px;
    margin: 0;
    padding-bottom: 20px;
}

#mostrador p{
    color: #ccc;
    margin: 0;
}

#mostrador .showcase-content{
    background-color: #333;
    color: #fff;
    border-radius: 90px;
    padding: 40px;
    opacity: 0.9;
}

@media(max-width:800px){
    #mostrador h1{
        font-size: 30px;
    }
}

@media(max-width:500px){
    #mostrador .showcase-content{
        padding: 40px 10px;
    }
}

#seguido{
    background: url('../IMAGENES/fondoseguido.jpg');
    padding: 30px;
}

#buscarpedido{
    background: url('../IMAGENES/fondoseguido.jpg');
}

/* INFO */
#info{
    background: url('../IMAGENES/fondobajo.jpg');
    color: #fff;
}

#info h2{
    font-size: 35px;
    margin: 0;
    padding-bottom: 10px;
    color: whitesmoke;
}

#info ul{
    list-style: none;
    padding: 0;
}

#info li{
    line-height: 2em;
    font-size: 20px;
    color: #56a79a;
}

#infoBaja{
    background: #333;
    color: #fff;
    padding: 10px 0;
}

#infoBaja h4{
    text-transform: uppercase;
    margin-bottom: 0;
}

#infoBaja ul{
    padding: 0;
    list-style: none;
    line-height: 2em;
}

#infoBaja input[type="text"]{
    padding: 7px;
}

#infoBaja button{
    background: #222;
    color:fff;
    padding: 10px;
    border: 0;
}

#footerprincipal{
    background: #56a79a;
    color: #fff;
}

#buscarpedido .fa-solid{
    font-size: 200px;
    color:#56a79a;
    padding: 30px;
}

/*DISEÑO DE PAGINA PRINCIPAL BENEFICIOS*/

#Beneficios h2{
    font-size: 35px;
    margin-bottom: 10px;
}

#Beneficios p{
    color:#888;
    margin: 0;
    margin-bottom: 40px;
}

#Beneficios .fa-solid{
    font-size: 60px;
    color:#56a79a;
}

#Beneficios h2{
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: 1px solid #56a79a;
}

#Beneficios p{
    color:#888;
    margin: 0;
    margin-bottom: 40px;
}


/*DISEÑO DE PAGINA PRODUCTOS*/

#productos button{  /*DISEÑO DE BUTTON*/
    background: #222;
    color:fff;
    padding: 10px;
    border: 0;
}

#linea{
    background: #fff;
    color: #fff;
}



/*DISEÑO DE PAGINA SEGUIMIENTO*/

#buscarpedido h4{  /*DISEÑO DE H4*/
    font-size: 60px;
    color:#56a79a;
}

#buscarpedido p{  /*DISEÑO DE P*/
    font-size: 32px;
    color:#56a79a;
}

#buscarpedido button{  /*DISEÑO DE BUTTON*/
    background: #222;
    color:fff;
    padding: 10px;
    border: 0;
}

#buscarpedido input{  /*DISEÑO DE BARRA INPUT*/ 
    background: #fff;
    color: black;
    padding: 10px;
}


#fotos .container{
    margin: auto;
    width: 100%;
    max-width: 800px;
}

#fotos h1{
    border-bottom: 1px solid #56a79a;
}

#donar h4{  /*DISEÑO DE H4*/
    font-size: 32px;
    color:#56a79a;
}

#donar img{
    width: 50%;
}

#seguido iframe{
    padding-bottom: 20px;
    border-radius: 20px;
}

#seguido h4{  /*DISEÑO DE H4*/
    font-size: 32px;
    color:#56a79a;
}

#showdatabase th{
    text-align: center;
}

#showdatabase td{
    text-align: center;
    color: rebeccapurple;
}

#showdatabase table{
	height: 100px;
    width: 1200px;
}

.formulario {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
    border: 3px solid gray;
}

.formulario__input:focus {
	border: 3px solid #56a79a;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #56a79a;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}