<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MascotaLandia</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'web/css/estilo.css'%}">
    <link href='{% static "/web/css/estilo.css" %}' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'web/css/flexboxgrid.css'%}">
    <script src="https://kit.fontawesome.com/86193ed89b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <header id="headerprincipal">
        <div class="container">
            <div class="row end-sm end-md end-lg center-xs middle-xs middle-s middle-md middle-lg">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <h1><a href="{% url 'index' %}"><span class="primary-text">Mascota</span></a>Landia</h1>
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                    <nav id="navbar">
                        <ul>
                            <li ><a href="{% url 'index' %}">Inicio</a></li>
                            <li><a href="{% url 'productos' %}">Productos</a></li>
                            <li><a href="{% url 'seguimiento' %}">Seguimiento</a></li>
                            <li><a href="{% url 'contacto' %}">Contacto</a></li>
                            <li class="current"><a href="{% url 'donacion' %}">Hazte socio</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="body row">
            <!-- LOGIN FORM -->
            <div class="col-xs-6 col-md-6">
                <h4>Login:</h4>
                <form action="{% url 'Productolista' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <a href="{% url 'Productolista' %}"><button type="submit" class="btn btn-primary">Login</button></a>
                    {% if messages %}
                        {% for message in messages %}
                            {% if "login" in message.tags %}
                                <p{% if message.tags %} class="{{ message.tags }} text-danger mt-1"{% endif %}>{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <section id="infoBaja">
        <div class="container">
            <div class="row">
                <div class="col-xs 12 col-sm-4 col-md-4 col-lg-4">
                    <h4>Contactanos</h4>
                    <ul>
                        <li>(+56) 9 4961 5736</li>
                        <li>contacto@mascotalandia.cl</li>
                        <li>742 de Evergreen Terrace</li>
                    </ul>
                </div>
                <div class="col-xs 12 col-sm-4 col-md-4 col-lg-4">
                    <h4>Sobre nosotros</h4>
                    <p>Somos una empresa de venta de productos para mascota en apoyo a una fundacion sin fines de lucro.
                    </p>
                </div>
                <div class="col-xs 12 col-sm-4 col-md-4 col-lg-4">
                    <h4>Recibe novedades en tu correo</h4>
                    <p>Ingresa tu correo aqui para no perderte de nada</p>
                    <form>
                        <input type="text" name="email" placeholder="Ingresa email">
                        <button type="submit" name="button">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section>
        <footer id="footerprincipal">
            <div class="container">
                <div class="row center-xs center-sm center-md center-lg">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>En ayuda a una fundacion sin fines de lucros</p>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <script src='{% static "/web/js/formulario.js" %}'></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
