<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MascotaLandia</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'web/css/estilo.css'%}">
    <link href='{% static "/web/css/estilo.css" %}' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'web/css/flexboxgrid.css'%}">
    <script src="https://kit.fontawesome.com/86193ed89b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <header id="headerprincipal">
        <div class="container">
            <div class="row end-sm end-md end-lg center-xs middle-xs middle-s middle-md middle-lg">
                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                    <h1><a href="{% url 'index' %}"><span class="primary-text">Mascota</span></a>Landia</h1>
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                    <nav id="navbar">
                        <ul>
                            <li class="current"><a href="{% url 'index' %}">Inicio</a></li>
                            <li><a href="{% url 'productos' %}">Productos</a></li>
                            <li><a href="{% url 'seguimiento' %}">Seguimiento</a></li>
                            <li><a href="{% url 'contacto' %}">Contacto</a></li>
                            <li><a href="{% url 'donacion' %}">Hazte socio</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section id="mostrador">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-7 showcase-content">
                    <style>
                    #mostrador{
                        background-image: url('{% static "web/img/fondoprincipal.png" %}');
                    }
                    </style>
                    <h1>Bienvenido a <span class="primary-text">MascotaLandia</span></h1>
                    <p>Al comprar aqui ayudas a una fundacion sin fines de lucro</p>
                </div>
            </div>
        </div>
    </section>

    <section id="infoprincipal">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 showcase-content">
                    <style>
                        #infoprincipal{
                            background-image: url('{% static "web/img/fondobajo.jpg" %}');
                        }
                        </style>
                    <h1>Somos una empresa de venta de productos para mascota en apoyo a una fundacion sin fines de lucro.</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="fotos">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 showcase-content">
                    <h1>Mascotas de clientes</h1>
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="{% static 'web/img/foto1.jpg'%}" alt="First slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'web/img/foto2.png'%}" alt="Second slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'web/img/foto3.jpg'%}" alt="Third slide">
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Siguiente</span>
                        </a>
                      </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Beneficios">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>Beneficios de MascotaLandia:</h2>
                    <p>En MascotaLandia encontraras un monton de beneficios para tu mascota y para ti</p>
                    <!--Linea 1-->
                    <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <i class="fa-solid fa-award"></i></i><br>
                            <h4>Mayor Calidad</h4>
                            <p>Nuestros productos son probados y garantizan la mayor calidad. </p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <i class="fa-solid fa-fire"></i>
                            <h4>Estas ayudando</h4>
                            <p>Al comprar productos en MascotaLandia estas ayudando a una organizacion sin fines de lucro.</p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <i class="fa-solid fa-user-graduate"></i><br>
                            <h4>Personal capacitado</h4>
                            <p>En MascotaLandia somos expertos en entregarte los productos que tu mascota necesita. </p>
                        </div>
                    </div>
                        <!--Linea 2-->
                    <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <i class="fa-solid fa-shield"></i><br>
                            <h4>Alimentos de alta calidad</h4>
                            <p>Nuestra tienda es distribuidor de alimentos PREMIUM para tu mascota.</p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <i class="fa-solid fa-hand-holding-heart"></i><br>
                            <h4>Amantes de las mascotas</h4>
                            <p>Nuestro personal es amante de las mascotas por lo cual siempre te entregara la mejor opcion.</p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <i class="fa-solid fa-splotch"></i><br>
                            <h4>Entretenimiento para mascotas</h4>
                            <p>Aqui encontraras los mejores juguetes para que tu mascota se mantenga feliz. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="info">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
                <style>
                    #info{
                        background-image: url('{% static "web/img/fondobajo.jpg" %}');
                    }
                    </style>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <img src="{% static 'web/img/perro.png'%}" alt="">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h2>PRODUCTOS EN VENTA</h2>
                    <ul>
                        <li><i class="fa fa-check"></i> Bandanas</li>
                        <li><i class="fa fa-check"></i> Correas</li>
                        <li><i class="fa fa-check"></i> Identificaciones</li>
                        <li><i class="fa fa-check"></i> Juguetes</li>
                        <li><i class="fa fa-check"></i> Alimentos</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="infoBaja">
        <div class="container">
            <div class="row">
                <div class="col-xs 12 col-sm-4 col-md-4 col-lg-4">
                    <h4>Contactanos</h4>
                    <ul>
                        <li>(+56) 9 4961 5736</li>
                        <li>contacto@mascotalandia.cl</li>
                        <li>742 de Evergreen Terrace</li>
                    </ul>
                </div>
                <div class="col-xs 12 col-sm-4 col-md-4 col-lg-4">
                    <h4>Sobre nosotros</h4>
                    <p>Somos una empresa de venta de productos para mascota en apoyo a una fundacion sin fines de lucro.</p>
                </div>
                <div class="col-xs 12 col-sm-4 col-md-4 col-lg-4">
                    <h4>Recibe novedades en tu correo</h4>
                    <p>Ingresa tu correo aqui para no perderte de nada</p>
                    <form>
                        <input type="text" name="email" placeholder="Ingresa email">
                        <button type="submit" name="button">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section>
        <footer id="footerprincipal">
            <div class="container">
                <div class="row center-xs center-sm center-md center-lg">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>En ayuda a una fundacion sin fines de lucros</p>
                    </div>
                </div>
            </div>
        </footer>
    </section>

    <script src="JS\formulario.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
