{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container1">
    <div class="panel-heading">
       <h3 class="panel-title">Formulario de Contacto</h3>
    </div>
    <div class="panel-body">           
       <form class="form-horizontal" id="signupForm" action="https://formspree.io/f/meqnvjlr"
       method="POST">
       
       <div class="form-group">
           <label for="fullname" class="col-sm-2 control-label">Nombre</label>
           <div class="col-sm-3">
               <input type="text" id="fullname" name="fullname" class="form-control">
           </div>
       </div>
      
      <div class="form-group">
           <label for="email" class="col-sm-2 control-label">Correo electronico</label>
           <div class="col-sm-5">
               <input type="text" id="email" name="email" class="form-control">
           </div>
       </div>
      
      <div class="form-group">
           <label for="password" class="col-sm-2 control-label">Número Celular</label>
           <div class="col-sm-3">
               <input type="text" id="password" name="password" class="form-control">
           </div>
       </div>
       <div class="form-group">
           <div class="col-sm-2">
               <label for="luckynumber">Tipo de comentario</label>
               <select name="luckynumber" id="luckynumber" class="form-control">
                   <option value="">--Seleccionar--</option>
                   <option value="double zero">Queja</option>
                   <option value="seven">Agradecimiento</option>
                   <option value="thirteen">General</option>
               </select>
           </div>
       </div>
       <div class="form-group">
           <label for="comments" class="col-sm-2 control-label">Comentario</label>
           <div class="col-sm-5">
               <textarea name="comments" id="comments" cols="40" rows="5" class="form-control"></textarea>
           </div>
       </div>
       <br>
       <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">
               <input type="submit" class="btn btn-primary" value="Enviar"/>
           </div>
       </div>
   </form>
 </div>
</div>
</div>
</section>
</section>
<section id="infoBaja"> 
<div class="container">
    <div class="row">
        <div class="col-xs 12 col-sm-4 col-md-4 col-lg-4">
            <h4>Contactanos</h4>
            <ul>
                <li>(+56) 9 4961 5736</li>
                <li>contacto@mascotalandia.cl</li>
                <li>742 de Evergreen Terrace</li>
            </ul>
        </div>
        <div class="col-xs 12 col-sm-4 col-md-4 col-lg-4">
            <h4>Sobre nosotros</h4>
            <p>Somos una empresa de venta de productos para mascota en apoyo a una fundacion sin fines de lucro.</p>
        </div>
        <div class="col-xs 12 col-sm-4 col-md-4 col-lg-4">
            <h4>Recibe novedades en tu correo</h4>
            <p>Ingresa tu correo aqui para no perderte de nada</p>
            <form>
                <input type="text" name="email" placeholder="Ingresa email">
                <button type="submit" name="button">Enviar</button>
            </form>
        </div>
    </div>
</div>
</section>
<section>
<footer id="footerprincipal">
    <div class="container">
        <div class="row center-xs center-sm center-md center-lg">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>En ayuda a una fundacion sin fines de lucros</p>
            </div>
        </div>
    </div>
</footer>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>  
const $form = document.querySelector('#form')
$form.addEventListener('submit', handleSubmit)
  async function handleSubmit(event){
        event.preventdefault()
        const form = new FormData(this)
        fetch(this.action, {
           method: this.method,
           body: form,
           headers:{
            'Accept': 'application/json'
        }
    })
    if (Response.ok){
        this.reset()
        alert('Gracias por contarcarnos, te escribiremos pronto')
    }
}
</script>
{% endblock content %}