{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<section id="buscarpedido"> 
    <div class="container">
        <div class="row">
            <div class="col-xs 12 col-sm-12 col-md-12 col-lg-12 center-xs center-sm center-md center-lg">
                <h4>Busca tu pedido</h4>
                <p>ingresa tu numero de seguimiento para buscar tu pedido:</p>  
                <form>
                    <input type="text" name="pedido" placeholder="Ingresa tu codigo de seguimiento">
                    <button type="submit" name="button"><a href="{% url 'seguido' %}">Buscar</a></button>
                </form>
                <i class="fa-solid fa-location-dot"></i>
            </div>
        </div>
    </div>
</section>

<section id="infoBaja"> 
    <div class="container">
        <div class="row">
            <div class="col-xs 12 col-sm-4 col-md-4 col-lg-4">
                <h4>Contactanos</h4>
                <ul>
                    <li>(+56) 9 4961 5736</li>
                    <li>contacto@mascotalandia.cl</li>
                    <li>742 de Evergreen Terrace</li>
                </ul>
            </div>
            <div class="col-xs 12 col-sm-4 col-md-4 col-lg-4">
                <h4>Sobre nosotros</h4>
                <p>Somos una empresa de venta de productos para mascota en apoyo a una fundacion sin fines de lucro.</p>
            </div>
            <div class="col-xs 12 col-sm-4 col-md-4 col-lg-4">
                <h4>Recibe novedades en tu correo</h4>
                <p>Ingresa tu correo aqui para no perderte de nada</p>
                <form>
                    <input type="text" name="email" placeholder="Ingresa email">
                    <button type="submit" name="button">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section>
    <footer id="footerprincipal">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>En ayuda a una fundacion sin fines de lucros</p>
                </div>
            </div>
        </div>
    </footer>
</section>

{% endblock content %}